<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="nav_title">
    <%= link_to 'BrokeNoMore', root_path, :class => 'nav-item nav-link active' %>
    <% if user_signed_in? %>
      <p>Logged in as <strong><%= current_user.email %></strong></p>
    <% end %>
  </div>
  <div class="navbar-nav mr-sm-2">
    <% if user_signed_in? %>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-item nav-link' %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-item nav-link' %>
      <%= link_to "New Income", new_income_path, :class => 'nav-item nav-link' %>
      <%= link_to "New Expense", new_expense_path, :class => 'nav-item nav-link' %>
    <% else %>
      <%= link_to "Register", new_user_registration_path, :class => 'nav-item nav-link' %>
      <%= link_to "Login", new_user_session_path, :class => 'nav-item nav-link' %>
    <% end %>
  </div>
</nav>
